* {
  box-sizing: border-box;
}
 
/* 头部标题 */
.header {
  padding: 30px;
  text-align: center;
  background-size:cover;
}
 
.header h1 {
  font-size: 50px;
}
 
/* 导航条 */
.topnav {
  overflow: hidden;
  border:1px solid black;
}
 
/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/* 链接颜色修改 */
.topnav a:hover {
  color: red;
  border:1px solid black;
}
 
/* 创建两列 */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

.photocolumnleft {   
  float: left;
  width: 60%;
}

.rescolumnleft {   
  float: left;
  width: 50%;
}

/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
 
.photocolumnright {
  float: left;
  width: 40%;
  padding-left: 20px;
}

.rescolumnright {   
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* 文章卡片效果 */
.card {
  padding: 20px;
  margin-top: 20px;
  border:1px solid black;
}
 
/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
	clear:both;
	}
 
/* 底部 */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border:0px solid black;
}
 
/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .photocolumnleft, .photocolumnright, .rescolumnleft, .rescolumnright {   
    width: 100%;
    padding: 0;
  }
}
 
/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

#join {
text-align: center
background-color: transparent
border: 2px solid #008CBA
}
#join {
      /* 文字颜色 */
      color: black; 
      /* 清除背景色 */
      background: transparent; 
      /* 边框样式、颜色、宽度 */
      border: 2px solid #0099CC;
      /* 给边框添加圆角 */
      border-radius: 3px; 
      /* 字母转大写 */
      border: none;
      color: white;
      padding: 10px 22px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
}
#join {
      background-color: transparent;  
      color: black;
      border: 2px solid #008CBA;
}
/* 悬停样式 */
#join:hover {
      background-color: #008CBA;
      color: white;
}

.go-top {
	z-index:10001;
    position: fixed;	        /* 设置fixed固定定位 */
    bottom: 20px;		/* 距离浏览器窗口下边框20px */
    right: 20px;		/* 距离浏览器窗口右边框20px */
  }
  .go-top a {
    display: block;			/* 将<a>标签设为块元素，用于美化样式 */
    text-decoration: none;		/* 取消超链接下画线 */
    color: #333;			/* 设置文本颜色 */
    background: rgba(0, 245, 255, 0.3); /* 30% 不透明度的绿色背景 */
    border: 1px solid #ccc;		/* 设置边框样式 */
    padding: 10px 20px;			/* 设置内边距 */
    border-radius: 5px;			/* 设置圆角矩形 */
    letter-spacing: 2px;		/* 设置文字间距 */
  }
  